<div class="row">
	<div class="col-md-12">
		<div class="content-box-header">
			<div class="panel-title">Thống kê</div>
		</div>
		<div class="content-box-large box-with-header">

			<div class="panel-body">
				<table class="table dashboard-info">
					<tbody>
						<tr>
							<th>Tổng số sản phẩm</th>
							<td>3.000</td>
						</tr>
						<tr>
							<th>Tổng số thương hiệu</th>
							<td>9</td>
						</tr>
						<tr>
							<th>Tổng số loại sản phẩm</th>
							<td>4</td>
						</tr>
						<tr>
							<th>Tổng số thành viên</th>
							<td>265</td>
						</tr>
						<tr>
							<th>Tổng số đơn hàng</th>
							<td>198</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>