<div class="row">
	<div class="col-md-6">
		<div class="content-box-header">
			<div class="panel-title">Thống kê chi tiết</div>


		</div>
		<div class="content-box-large box-with-header">

			<div class="panel-body">
				<table class="table dashboard-info">
					<tbody>
						<tr>
							<th>Tổng số sản phẩm</th>
							<td>3.000</td>
						</tr>
						<tr>
							<th>Tổng số thương hiệu</th>
							<td>9</td>
						</tr>
						<tr>
							<th>Tổng số loại sản phẩm</th>
							<td>4</td>
						</tr>
						<tr>
							<th>Tổng số khách đăng ký</th>
							<td>265</td>
						</tr>
						<tr>
							<th>Tổng số đơn hàng giao thành công</th>
							<td>198</td>
						</tr>
						<tr>
							<th>Tổng số đơn bị hủy/đang chờ duyệt</th>
							<td>25</td>
						</tr>
						<tr>
							<th>Tổng số lượt xem Website</th>
							<td> 50.692.365 views</td>
						</tr>
						<tr>
							<th>Số đăng ký mới tháng này</th>
							<td>22</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<div class="content-box-header">
					<div class="panel-title">Thu nhập</div>
				</div>
				<div class="content-box-large box-with-header">
					<p>Chi phí bỏ ra</p>
					<div class="progress">
						<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0"
						 aria-valuemax="100" style="width:40%">
							7.5 tỷ
						</div>
					</div>
					<p>Số tiền thu lại</p>
					<div class="progress">
						<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0"
						 aria-valuemax="100" style="width:50%">
							11 tỷ
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="content-box-header">
					<div class="panel-title">Người dùng đăng ký mới nhất</div>
				</div>
				<div class="content-box-large box-with-header">

					<p>hothithiennhan@gmail.com</p>

					<p>nguyenthanhnam@yahoo.com.vn</p>

				</div>
			</div>
		</div>
	</div>
</div>