<button type="button" class="btn btn-warning">Thêm thương hiệu</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tên thương hiệu</th>
            <th>Số lượng hiện có</th>
			<th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Canon</td>
            <td>63</td>
            <td>
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Fujifilm</td>
            <td>52</td>
            <td>
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>GoPro</td>
            <td>96</td>
            <td>
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
		 <tr>
            <td>Panasonic</td>
            <td>69</td>
            <td>
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>