<form class="form-inline" action="#">
	<div class="form-group">
		<input type="text" class="form-control" name="search" placeholder="Tra mã đơn hàng..." required="">
	</div>
	<button type="submit" class="btn btn-default">
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	</button>
</form>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Mã đơn hàng</th>
			<th>Loại Máy</th>
			<th>Tổng tiền</th>
			<th>Trạng thái</th>
			<th>Chỉnh sửa</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>#242</td>
			<td>Canon powershot d30</td>
			<td>8.000.000 VND</td>
			<td>Chưa xác nhận</td>
			<td>
				<a href="#" class="btn btn-info">
					<span class="glyphicon glyphicon-edit"></span>
				</a>
				<a href="#" class="btn btn-danger">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
			</td>
		</tr>
		<tr>
			<td>#909</td>
			<td>Panasonic g80</td>
			<td>32.000.000 VND</td>
			<td>Đang giao</td>
			<td>
				<a href="#" class="btn btn-info">
					<span class="glyphicon glyphicon-edit"></span>
				</a>
				<a href="#" class="btn btn-danger">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
			</td>
		</tr>
		<tr>
			<td>#872</td>
			<td>Nikon d5500</td>
			<td>162.000.000 VND</td>
			<td>Đã giao</td>
			<td>
				<a href="#" class="btn btn-info">
					<span class="glyphicon glyphicon-edit"></span>
				</a>
				<a href="#" class="btn btn-danger">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
			</td>
		</tr>
	</tbody>
</table>
