<button type="button" class="btn btn-danger">Thêm sản phẩm</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tên máy ảnh</th>
            <th>Loại máy</th>
            <th>Giá tiền</th>
            <th>Nhà sản xuất</th>
            <th>Chỉnh sửa</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Canon powershot d30</td>
            <td>Compact</td>
            <td>8.000.000 VND</td>
            <td>Canon</td>
            <td>
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Panasonic g80</td>
            <td>Mirrorless</td>
            <td>32.000.000 VND</td>
            <td>Panasonic</td>
            <td>
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Nikon d5500</td>
            <td>DSLR</td>
            <td>162.000.000 VND</td>
            <td>Nikon</td>
            <td>
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>

