<button type="button" class="btn btn-success">Thêm loại sản phẩm</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Loại máy</th>
            <th>Số lượng hiện có</th>
			<th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>360 độ</td>
            <td>63</td>
            <td>
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Compact</td>
            <td>52</td>
            <td>
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>DSLR</td>
            <td>96</td>
            <td>
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
		 <tr>
            <td>Không gương lật</td>
            <td>69</td>
            <td>
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>