<div class="container signin-area">
    <h3 class="signin-title">
        CẬP NHẬT THÔNG TIN
    </h3>
    <div class="modal-body modal-body-sub">
        <form  method="POST" >
            <div class="styled-input agile-styled-input-top">
                <input required type="text" name="hoten">
                <label>Họ và tên</label>
                <span></span>
            </div>

            <div class="styled-input agile-styled-input-top">
                <input required type="text" name="diachi">
                <label>Địa chỉ giao hàng</label>
                <span></span>
            </div>

            <div class="styled-input agile-styled-input-top">
                <input required type="text" name="diachi">
                <label>Số điện thoại</label>
                <span></span>
            </div>
            
            <input type="submit" value="Cập Nhật">
        </form>
       
        <div class="clearfix"></div>
    </div>
</div>